h1 {
    margin: 10px auto;
    padding: 20px;

    color: chocolate;
    font-family: Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}

.post-container {
    padding: 20px;
    margin-bottom: 20px;

    font-family: Helvetica, sans-serif;

    border-radius: 5px;
    border: 2px solid #888;
}

.post-heading {
    text-transform: uppercase;
    color: royalblue;
}

.post-body {
    color: #888;
}

.error {
    color:red;
}

/* Post Form */

.post-form {
    display: block;
    margin: 0 auto 20px auto;
    padding: 20px;

    width: 50%;
    min-width: 400px;
    max-width: 90%;

    border: 2px solid #888;
    border-radius: 5px;

    text-align: center;
}

.post-form input[type=text],
.post-form textarea {
    display: block;
    width: 100%;

    margin: 10px auto;
}

.post-form input[type=submit] {
    padding: 10px;
    margin: 0 auto;

    color: white;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    text-transform: uppercase;

    background-color: forestgreen;
    border: none;
    cursor: pointer;
}